<%- content_for :sidebar do -%>
	<h4>New Contest</h4>
	<p>Use the form below to run a new Contest. Fields marked
	with * are required.</p>
	<%= form_for :contest, :url => { :controller => 'dashboard', :action => "create_contest" }  do |f| %>
	  Name: <%= f.text_field :name %><br />
	  First name: <%#= f.text_field :first_name %><br />
	  Last name : <%#= f.text_field :last_name %><br />
	  Start Date : <%= f.text_field :start_date %><br />
	  End Date    : <%= f.text_field :end_date %><br />
	  Max Results    : <%= f.text_field :max_results %><br />
	  Order Id   : <%= f.text_field :order_id %><br />
	  Product Id   : <%= f.text_field :product_id %><br />
	  <%= f.submit %>
	<% end %>
<%- end -%>
<h1>Contests</h1>
<table class="table table-striped">
  <thead>
    <tr>
		<th>Name</th>
		<th>Criteria</th>
		<th>Winner</th>
		<th>Date</th>
	</tr>
  </thead>
  <tbody>
    <tr>
		<td>Customer Appreciation Giveaway</td>
		<td>Purchase made within last 30 days</td>
		<td>Order #1010, John Doe</td>
		<td>October 22, 2013</td>
	</tr>
  </tbody>
</table>
2.	 Next, we'll copy the